[2019-10-03 00:21] audiohacked commented on #135
I'm closing this issue until I can get the hardware myself. Until then I can't add support.

[2019-10-03 00:21] #135 closed

[2019-10-03 00:22] audiohacked commented on #101
Closing this until we encounter issues....

[2019-10-03 00:22] #101 closed

[2019-10-03 00:24] audiohacked commented on #148
Closing this until I can get hardware to support this.

[2019-10-03 00:24] #148 closed

[2019-10-03 00:28] #96 closed

[2019-10-03 03:46] lissyx commented on #173
Well, that's unfortunate. I still have mine, and I still have interest in supporting it, even though I lack time to reverse-engineer stuff from the Windows app.

[2019-10-03 06:26] TikiTDO commented on #146
I did a usbmon dump of the interaction between a H100i RGB Platinum, and the windows utility for managing it.

This starts from connecting the driver to my VM, then I go through play a bit with different colors, and finally I try setting a bunch of fan modes, and finishes with me disconnecting the device from the VM.

[h100i_usb_dump.txt](https://github.com/audiohacked/OpenCorsairLink/files/368471

[2019-10-07 18:51] source83 commented on #197
Aaah, that'd explain it

[2019-10-07 18:51] #197 closed

[2019-10-10 22:40] jpuderer commented on #160
Sigh... well, I own one, so I guess I'd better step up and work on this one.

I'll see if I can't figure this out.

[2019-10-14 02:28] lifanov opened #206 "tag a release"
It would be useful for OS packagers to have a release tag
that corresponds to a version number. Currently I see that
the version is set to v0.9.0.0. Could you create some sort
of a tag please?

[2019-10-16 16:25] scott-hyperdrive commented on #201
Just bumping to see if there are any ideas/things for me to try to resolve the above problem.

[2019-10-17 01:48] audiohacked commented on #201
At this moment the Commander Pro only supports fixed RPM or fixed PWM. Any other modes aren't directly supported by the hardware. Or, the command for the other modes aren't known.

[2019-10-17 01:48] #201 closed

[2019-10-17 01:50] audiohacked commented on #206
OpenCorsairLink is in pre-relelase (AKA alpha) status and thus there are no releases yet.

[2019-10-17 01:50] #206 closed

[2019-10-18 09:18] cryptomilk opened #208 "Corsair H150i Pro - pump balanced mode"
**Describe the bug**

If you do a cold boot, the pump set to balanced mode by default:

[code]

OpenCorsairLink allows to set the pump mode to Quiet (0x00) and Performance (0x02), but not to Balanced mode (0x01).

[code]

[2019-10-18 10:39] cryptomilk commented on #208
Balaned is 4 but it is documented in the help

[2019-10-18 21:30] #208 closed

[2019-10-19 04:37] notlesh commented on #111
Was there a commit where this was actually working?

[2019-10-19 12:55] audiohacked commented on #111
The main problem some devices support custom fan curves and other devices do **not** support custom fan curves. The support depends on the device in question.

[2019-10-20 18:39] notlesh commented on #111
Oh, I see. I have a `h110i`, which I thought supported them, but I can't seem to do that under Windows at the moment.

Assuming I had a device that supported custom curves, does the current or any past version of `OpenCorsairLink` support this?

[2019-10-21 23:23] audiohacked commented on #111
@notlesh If you have a device that supports it, then any version of OpenCorsairLink that supports that device will have support for custom curves.

[2019-11-11 13:54] denangeles commented on #128
Can confirm this works with a Commander mini, I only have 3 pin fans, but setting fan mode of 2 (Default) and 5 (Performance) works. Cannot set RPM with mode 1.

Appreciate your work, this is amazing!

[2019-11-16 13:15] timlod commented on #70
Hi everyone,
I have a setup with the H100i GT V2 and the Commander PRO.
I would like to turn all LEDs off.
Is this possible, if so, what command does it? I have tried the usage instructions, but keep getting `Unsupported Generic LED Function`.
Thanks!

[2019-11-19 22:40] phaus opened #211 "[MacOS] Error Platform does not support kernel detachment"
**Describe the bug**
After the upgrade to macOS Catalina (10.15.2), I am not able to run the Program anymore.
It could also be an error with libusb.

**To Reproduce**
Steps to reproduce the behavior:
1. Update MacOS to the latest DEV Version
2. Run `sudo ./OpenCorsairLink.elf --dump`
[code]
3. Run `sudo ./OpenCorsairLink.elf --device 0`
[code]

**Expected behavior**
See a listing of the device inf

[2019-11-20 06:01] jonasmalacofilho commented on #211
The issue is not with detaching the kernel driver (that's indeed expected on MacOS), but with a failure to claim the interface.

Maybe there's something useful in the LIBUSB debug output?

[code]

---

I should have used `msg_debug` instead of `msg_error` in https://github.com/audiohacked/OpenCorsairLink/blob/110977dac7ee3aa9d60d8a3f3e8de203164df988/logic/scan.c#L105-L109

For reference `libusb_se

[2019-11-20 22:52] phaus commented on #211
FYI: Installed is a `H80i v2` and one `CORSAIR Commander Mini`.
I just run the cmd with debug enabled:

[code]

[2019-11-20 23:03] jonasmalacofilho commented on #211
This is the relevant line:

[code]

Does any specific software come to mind as the possible culprit?

[2019-11-21 10:33] phaus commented on #211
Hi. Thank you for the quick response.
I couldn't any any program or kernel module, that uses that USB Device.

I found a thread at stackoverflow about the same issue:

https://stackoverflow.com/questions/20253350/unable-to-claim-usb-interface-with-c-libusb-on-mac-os-x

Unfortunetally, the kext that was mentioned there, is not present in catalina anymore.

[2019-11-22 04:57] jonasmalacofilho commented on #211
I looked over the logs again and noticed that the issue is with the `1b1c:0c04` device, which should be your Commander Mini.

I'm not the maintainer here, but IIRC these `pid == 0x0c04` devices are HIDs, which would automatically be bound to a default HID driver/kext, thus explaining the problem.

Can you check whether the Commander Mini is indeed a HID, and also whether there is kext installed (i

[2019-11-25 18:35] zatricky commented on #146
It seems the lsusb output from my H115i RGB Platinum is almost identical. Likely if we get support for the H100i it'll mean support for a couple others as well.

[2019-11-25 19:37] markubiak commented on #146
For anyone looking for a workaround while support for this is fleshed out, it's perfectly valid to just connect the fan headers to the motherboard instead of the water block. I did this to quiet down the fans and have had no problems with temperature.

[2019-11-26 20:34] crabbedhaloablution opened #212 "Having LDFLAGS set leads to build failure"
cc main.o device.o driver.o print.o logic/options.o logic/options_fan.o logic/options_led.o logic/options_pump.o logic/scan.o logic/settings/commanderpro.o logic/settings/hydro_asetek.o logic/settings/hydro_asetekpro.o logic/settings/hydro_coolit.o logic/settings/psu.o protocol/asetek/core.o protocol/asetek/fan.o protocol/asetek/led.o protocol/asetek/pump.o protocol/asetek/temperature.o protocol/a

[2019-12-06 10:47] phaus commented on #211
I will try to do some tests when I have access to the system again.
But I have to find out how to check which kext is using the device :-).

[2019-12-11 12:48] audiohacked commented on #200
Fix has been merged into testing.

[2019-12-11 12:48] #200 closed

[2019-12-16 01:36] #212 closed

[2019-12-19 16:38] JoshDi opened #217 "Unsupported Generic Pump Function for H80i GT V2"
**Describe the bug**
When trying to change the pump speed on the Corsair H80i GT V2, I get the error "Unsupported Generic Pump Function"

I am running the latest testing branch.

**To Reproduce**
Steps to reproduce the behavior:
1. Run: sudo OpenCorsairLink.elf --device=0 --pump mode=5

Dev=0, CorsairLink Device Found: H80i GT V2!

Vendor: Corsair
Product: H80i GT V2
Firmware: 2.8.0.0
Temperature

[2019-12-22 15:59] audiohacked commented on #217
This one should be pretty easy to fix. I think there's a disconnect between the logic for the Asetek and the supported functions for the Asetek driver.

[2019-12-28 13:00] raw-bin commented on #128
Hi. I have a Corsair One i164 and am willing and able to help with testing and extending OCL.

[2019-12-28 13:56] raw-bin opened #220 "Add support for the Corsair One i164 system"
My impression is that this system is currently unsupported.

However, attempting to use OCL does produce some output. It is not clear to me whether that output is correct and/or complete.

Some relevant details:

High level system specs are [here.](https://www.corsair.com/uk/en/Categories/Products/Systems/CORSAIR-ONE/CORSAIR-ONE-GAMING-PC/p/CS-9020007-UK#tab-tech-specs)

Misc hw probe info:

[code

[2019-12-30 07:43] daviscyl opened #221 "H150i Pro Temperature Mode Not Changing Color"
My H150i Pro does not change color under the temperature mode in Ubuntu.

**Command Used:**
sudo ./OpenCorsairLink.elf --debug --device 0 --led channel=0,mode=5,colors=00B2FF:FFFF00:FF0000,temps=30:50:70

**Response:**
LED Channel = 0
LED Mode = 5
Found Color 0: 00B2FF
Found Color 1: FFFF00
Found Color 2: FF0000
Found Color 0: 30
Found Color 1: 50
Found Color 2: 70
Checking USB device 0 (1d6b:0003

[2019-12-31 04:45] audiohacked commented on #221
There's several reasons why the LED isn't changing. As a note, OpenCorsairLink doesn't link CPU temperature with LEDs. The hardware only natively supports Liquid Temperature. I assume you are reading the CPU Temp with another program. As the Liquid Temp is 35 Celsius, and if I remember correctly, that would keep the LED on #00B2FF. I don't think you'll see a difference until the Liquid Temp approa

[2020-01-01 11:22] raw-bin commented on #220
@audiohacked : By any chance, is there a knowledge repository that could help n00bs like me to investigate issues like this one ? Apologies in advance if there's something obvious that I lazily missed.

I was thinking of the following:

* A programmer's model/spec/description of the CL protocol (I see a bunch of threads on the interwebs but wasn't sure what was current or relevant).

* A descripti

[2020-01-01 22:42] Legion2 commented on #146
I think the H100i PLATINUM, H115i PLATINUM and H100i PLATINUM SE all use the same protocol as the Commander PRO.

[2020-01-01 22:46] Legion2 commented on #220
@raw-bin have a look at https://github.com/Legion2/CorsairLightingProtocol this is an open source  implementation of the current protocol on the device side.

[2020-01-01 23:08] audiohacked commented on #220
@raw-bin There isn't any knowledge repository for the corsair hardware. Most of the work has been done by using Wireshark and the Windows programs to sniff the USB.

[2020-01-01 23:17] audiohacked commented on #146
@Legion2 I can personally vouch that the H100i Platinum and the Commander Pro don't share the same protocol.

[2020-01-01 23:20] Legion2 commented on #146
But they are very similar. I can flash an Arduino with the Commander Pro firmware and use the H100i Platinum USB ids and iCUE thinks the Arduino is a H100i Platinum and I can see the commands send by iCUE on the arduino.

[2020-01-01 23:30] audiohacked commented on #146
What do you mean "very similar"? Can your Arduino correctly interpret and feedback **all** the statuses and sensors as expected of iCUE?

[2020-01-01 23:40] Legion2 commented on #146
No, it can only handle the Commander Pro commands correctly, ~~but the structure of the H100i Platinum protocol is similar, only the commands themself differ.~~

After some debugging I realized that the protocols are completely different. ICUE only coincidentally detected the Arduino as H100i Platinum.

[2020-01-06 20:45] mmattice opened #222 "--help suggests --machine gives output in machine readable format, but prints nothing"
**Describe the bug**
--help suggests --machine gives output in machine readable format, but prints nothing

**To Reproduce**
[code]

**Expected behavior**
Some sort of machine readable output, json, csv, etc

**Desktop (please complete the following information):**
 - OS: debian buster

[2020-01-07 16:25] audiohacked commented on #222
`--machine` hasn't been fully implemented in all code bases. Currently only available in one(??) driver.

[2020-01-07 18:17] mmattice commented on #222
Which driver is that for reference?

[2020-01-07 23:21] mmattice commented on #222
NM.  Found it.  I hacked in some capabilities for the two devices I've got.  It probably isn't a huge stretch to add the json stuff to everything.

https://github.com/mmattice/OpenCorsairLink/tree/commanderpro_json

The commits to main.c cause it to loop through everything if it's in JSON mode, so it dumps it all in a mostly nicely formatted object.  I'm just throwing that directly at my MQTT serv

[2020-01-10 17:47] raw-bin commented on #220
Thanks both! @audiohacked : Do you perchance have any kind of wireshark resources that you've built  up like filter scripts etc ? Or other such goodness that can help n00bs get cracking ? If not - for the problem that I'm seeing what would you suggest I look at first ? All fairly woolly questions I admit but I'm hoping that I can learn from experienced folks and contribute back. Thanks!

[2020-01-17 07:22] zeroepoch opened #223 "H80i has an incorrect pump_index"
The `pump_index` for the H80i (no suffix) is incorrect.  It's actually been incorrect almost from the beginning, but it didn't become a problem until 5581c978558d054496114fd9ad02496995d607b1 was committed which started to use `pump_index` in ways it didn't before.  The change is pretty straightforward so I didn't think a pull request would be necessary. Here's the change:

[code]

[2020-01-17 13:42] aloserini opened #224 "(PROBLEM): Unable to claim USB device interface"
studio_mac@STUDIOMACsiPro OpenCorsairLink-testing % sudo /usr/local/bin/OpenCorsairLink.elf --debug
Checking USB device 0 (1b1c:0c10)...
Corsair product detected. Checking if device is Commander PRO... Platform does not support kernel detachment
Unable to claim USB device interface
DEBUG: scan done, start routines
DEBUG: selected device_number = -1

[2020-01-17 13:46] aloserini commented on #224
and Mac shows me the Commander Pro as UPS, any help?

[2020-01-17 14:41] aloserini commented on #211
have the same problem:
USBInterfaceOpen: another process has device opened for exclusive access
any help?

[2020-01-24 17:14] kalinda99 opened #225 "Unsupported Generic LED Function with Lighting Node PRO + Suuport for it?"
I don't know if this counts as a bug or not since the hardware I'm using isn't on the supported list but OpenCorsairLink does detect my Lighting Node Pro, maybe because it's similar to the Commander Pro? The only difference between them, as far as I know, is that the Lighting can't control fan RPM, it's just for the pretty RGB.

Anyway, I'd love to see support added for the Lighting Node Pro if th

[2020-01-26 23:50] TimZaman commented on #128
AX1600i here. Printing out any information seems non functional.
[code]

[2020-01-27 18:07] drammelt commented on #217
Can confirm that fixes this issue

[code]

[2020-01-29 02:03] jkvargas opened #226 "H100i GT V2 Can't set the pump mode"
➜  OpenCorsairLink git:(master) sudo /usr/local/bin/OpenCorsairLink.elf --device 0 --pump mode=5
Dev=0, CorsairLink Device Found: H100i GT V2!

Vendor: Corsair
Product: H100i GT V2
Firmware: 2.8.0.0
Temperature 0: 32.00 C
Temperature 1: 32.00 C
Temperature 2: 32.00 C
Fan 0:	Mode 0xEB
	Current/Max Speed 0/0 RPM
Unsupported Pump Function
Pump:	Mode 0x05
	Current/Max Speed 2100/0 RPM
Setting pump to

[2020-01-29 07:23] #217 closed

[2020-01-29 07:24] #226 closed, assigned to nobody

[2020-01-29 07:26] audiohacked commented on #226
Duplicate of #217

[2020-01-29 07:33] audiohacked commented on #225
LED protocol for the Lighting Node Pro (and the Commander Pro) isn't fully mapped yet.

[2020-02-08 12:39] jkvargas opened #228 "H100i GT V2"
➜  ~ sudo OpenCorsairLink.elf --device 0 --pump mode=5
Hey guys, I am sorry for opening this bug again, but this is happening using the most updated code from master branch. When trying to set the pump mode to performance it says to me that this is not supported.
I know there was a fix in the past for this, but it seems that it is still broken.
Or maybe I am doing something wrong.

Machine:
Intel(

[2020-02-09 06:46] audiohacked commented on #228
Don't use `master` branch.

[2020-02-09 09:05] expipiplus1 commented on #109
I was unable to get @SBAM's patch working (I believe we have different machines, as my USB product ID is different). For my corsair one with `1b1c:0c14` (same as the "H110 Pro") I've made a little utility which prints the fan/pump speeds and coolant temps: https://github.com/expipiplus1/corsair-one-stats. Using this tool one can observe that the fan/pump speeds do respond on Linux to the system te

[2020-02-09 15:14] expipiplus1 commented on #109
Oops, I bricked my fan controller :/

[2020-02-15 03:22] drasticman commented on #224
I'm curious about this as well.  Googling around, it seems that a kext called AppleUSBFTDI.kext has been removed in one of the updates to Catalina.  I'm too far out of my depth to confirm that myself, though.  I'd love to hear if this is the case and if it's fixable going forward -- very curious!

[2020-02-15 10:23] aleczk commented on #225
I was going to ask a similar question, I guess... The error message is a bit different.
I'm a newbie in Linux and I made a mistake of buying 6 freaking LL fans which have RGB with it even tho I keep them black (no color) on windows.

I can see that it's recognizing the fans that are attached to the CoPro and the RPM of it unlike the creator of this topic.

[code]
Also I guess I screwed up the inst

[2020-02-15 23:13] ChameleonScales opened #229 "h100i not detected"
Hi,
Thanks for making this tool.
I'm trying to get it working but it seems my H100I is not detected.
I run:
`sudo ./OpenCorsairLink.elf --debug`
and I get:
[code]
then I run
`sudo ./OpenCorsairLink.elf --device 0`
and get
`Detected 0 device(s), submitted device 0 is out of range`

**Desktop:**
 - OS: Ubuntu 19.10
 - Cooler: Corsair H100I Platinum
 - Motherboard: GIGABYTE X570 AORUS MASTER

 - Open

[2020-02-17 16:45] picklenebula commented on #229
EDIT: I had forgotten to hookup the USB header cable, the H110i GT V2 is now detected by OpenCorsairLink without issue. Sorry for the erroneous report.

[2020-02-18 09:28] ChameleonScales commented on #229
The USB cable is connected in my case, so this issue is still unsolved for me.

[2020-02-18 16:15] picklenebula commented on #229
Out of curiosity is the cooler detected by the system?
Say with `lsusb` or something similar?

[2020-02-21 05:23] jonasmalacofilho commented on #229
@ChameleonScales the H100i Platinum is not yet supported (see: #146).

[2020-02-22 21:50] ChameleonScales commented on #229
out of `lsusb`, here are some I get (not sure what the second is so I show it just in case):
[code]
is that it?

[2020-03-04 00:04] luxus commented on #211
[code]

I think I have the same issue here..

[2020-03-04 12:37] Perracomax opened #230 "How to use libusbx instead of libusb"
Hello, as I saw in other issues I should use libusbx instead of libusb in Fedora.
I was looking for something to modify in the files and I see a lot of things pointing to libusb.
My idea is to make a temporal symlink for this, but maybe there is a better way to do that.

Thank you very much and sorry if this is not the better place for this question.

[2020-03-06 16:49] audiohacked commented on #230
On Fedora, you shouldn't have to change anything to be using libusbx as the old libusb is just a compatibility layer for libusbx.

[2020-03-06 16:49] #230 closed, assigned to nobody

[2020-03-23 19:04] tkruger206 commented on #146
Super excited to get support for the H100i Platinum for my Hackintosh!
@shnqdr thanks for jumping on this. I can do testing if you need.

[2020-03-27 20:48] droopymiller commented on #228
Had this same issue and using the `testing` branch solved my issue.  Also thank you for dedicating your time to this piece of software.  I really appreciate what you have done!

[2020-04-04 01:08] hgrahamcs commented on #128
I have a Corsair Commander Pro and I'm willing to help test.

[2020-04-08 20:11] janpython commented on #128
I've a Corsair H150i and your program seems to work fine with it! I'm able to adjust fan speed, pump LED and pump speed as far as I can oversee. Let me know if you nee more information!
$ sudo ./OpenCorsairLink.elf --device 0
Dev=0, CorsairLink Device Found: H150i Pro!

Vendor: Corsair
Product: H150i Pro
Firmware: 1.0.4.0
Temperature 0: 35.70 C
Fan 0:	Mode 0x00
	Current/Max Speed 1314/0 RPM
Fan 1:

[2020-04-08 20:25] luke2389 commented on #128
I have the same one... so if you need another feedback, let me know.
Great job! :)

[2020-04-08 20:57] janpython commented on #128
Ok, it's a quiet AIO-cooler so far (new build). But GNU/Linux support from Corsair is poor, unfortunately. So I'm trying to rewrite script which I found here: https://forum.level1techs.com/t/corsair-h100i-linux-howto/75829. It was written for an earlier version of OpenCorsairLink :-)
Did you manage to show temperature? With sudo ./OpenCorsairLink.elf --device 0 --led channel=0,mode=5 it's red, eve

[2020-04-14 21:00] andyN42 opened #231 "H100i RGB PRO XT"
H100i RGB Pro XT is not detected or supported.  This is different from the RGB Pro, as it sounds like it uses coolit pump.

The device ID for this is 0c20

[code]

I would like to contribute to this development,
Is there anything I can do that can brick/break the AIO? If I start testing and sending requests to this device, what should I look out for in terms of breaking things?

[2020-04-14 21:00] andyN42 commented on #231
Note:

This is different from the h100i pro, and is not a duplicate request, as the XT version is a new version

[2020-04-16 03:38] audiohacked commented on #231
@andyNewman42
Wonderful!

There is a chance for bricking, but I'm mostly sure that to get access to the AIO bootloader is quite involved. The only other issue is "committing" an AIO profile to the hardware, again, something that has to be investigated.

[2020-04-16 17:37] andyN42 commented on #231
@audiohacked Do you have any documentation for adding a new profile?

[2020-04-17 15:56] erikostrom commented on #128
I have a Corsair H110i GTX that I'd be willing to test for:
[code]

[2020-04-20 18:58] BeardedDevCo commented on #225
Di you manage to get anywhere with this @audiohacked ? Running elementaryOS 5.1 am in the testing branch but the LED side of the commander pro doesnt seem to be getting recognised

sudo ./OpenCorsairLink.elf --dev=0 --led channel=2,mode=0,colors=00FF00
Dev=0, CorsairLink Device Found: Commander PRO!

Vendor: Corsair
Product: Commander PRO
Firmware: V0.9.212
Temperature 0: 30.01 C
Temperature 1: 40

[2020-04-21 02:42] chris17453 commented on #128
AX1500i here, willing to dev. The corsair link code is in c# and a quick decompile will show you all you need from the hid module.

[2020-04-23 20:01] mcombell opened #234 "Machine Readable Format output does not produce any output for H150i Pro"
**Describe the bug**
OpenCorsairLink has the ``--machine`` option that according to the ``--help`` output says:

When I use the ``--machine`` option on my computer with a Corsair H150i Pro, it does not produce any output.

**To Reproduce**
Steps to reproduce the behavior:
1. Run OpenCorsairLink without the ``--machine`` parameter and the expected output is produced:

[code]

2. Run OpenCorsairLink

[2020-04-23 20:04] mcombell commented on #234
The cause of this issue is that the ``--machine`` parameter causes OpenCorsairLink to only output the messages that are generated by calls to the ``msg_machine`` method. Currently the only class that calls this method is the ``hydro_asetek.c`` file.

The H150i Pro uses the ``hydro_asetekpro.c`` file but this does not have the ``msg_machine`` method calls.

I will create a pull request to add calls

[2020-04-23 20:20] mcombell commented on #234
I have created a Pull Request (https://github.com/audiohacked/OpenCorsairLink/pull/235) containing the changes to add ``msg_machine`` method calls.

[2020-04-24 21:32] klandrith opened #236 "Bash script to control OpenCorsairLink via CPU temperature"
I have a working bash script that can control OpenCorsairLink via CPU temperature, and I may add load % as well. Is there any danger to calling OpenCorsairLink every 2 seconds to update it with new settings (pump mode and fan PWM or just fan PWM)?

Thank you for developing the app!

[EDIT]
I have the script setup to use linear interpolation with a hysteresis value of 5 degrees where it won't poll

[2020-05-02 18:25] githupper opened #238 "Corsair H100i Platinium and Commander Pro. Only Commander Pro gets detected"
lsusb output:
Bus 001 Device 010: ID 1b1c:0c18 Corsair H100i Platinum
Bus 001 Device 008: ID 1b1c:0c10 Corsair Commander PRO (dev =0)

All fans can be controlled in Commander Pro. --debug also cannot detect H100i.

Using PopOS 20.04

[2020-05-02 18:30] githupper commented on #238
Did not realise non support for H100i Platinium still. Ticket closed

[2020-05-02 18:30] #238 closed, assigned to nobody

[2020-05-06 10:01] SBAM commented on #109
Dear all, here is a [small daemon](https://github.com/SBAM/corsair_one_d) that watches coretemps/coolant_temp and increases top fan speed if thresholds are exceeded. @expipiplus1 it's only designed to manage the older product **0c04**.
Thanks for your research, I might check how to interact with pumps now (I also noted that your hardware seems to have 2 separate liquid circuits, while mine only ha

[2020-05-07 12:26] avhm commented on #224
I'm still having this issue too on both master & testing

[2020-05-08 04:20] joeracer321 opened #239 "Commander Pro Fan Curve Temperature Sensor Reference"
How does the Commander Pro determine the temperature sensor reference for the fan curve?  Does it average the four inputs?  Is it possible to specify which sensor is the reference for the curve?

[2020-05-08 06:23] #239 closed, assigned to nobody

[2020-05-08 06:25] joeracer321 commented on #239
After looking around a bit I see that write_custom_curve is currently unsupported for the commander pro.

[2020-05-09 12:06] jonasmalacofilho commented on #224
These days it's apparently very hard to claim HID interfaces on mac OS.

---

@audiohacked, in liquidctl I had to switch to [hidapi](https://github.com/libusb/hidapi) to work around this.

The good news is that it isn't terribly complicated, and there are some advantages on Linux too (mainly: it doesn't detach the kernel driver, so it's nicer on other programs and the kernel).

The only significan

[2020-05-10 03:52] wishie commented on #221
Ahh, that makes sense.. I assume this is the same with the H100i Pro RGB that I have just installed. So, if the hardware is measuring 'liquid temperature' then there would be a significant delay in the liquid heating up..

Is there a way in the future to support OpenCorsairLink to read temp from an external program? I guess that would also mean OpenCorsairLink would have to be always running, thou

[2020-05-10 23:31] Willburn commented on #231
I too have an H100I RGB PRO xt just curious if this is being worked on as I would love to adjust fan speeds :) (Home server and want it to go more quiet)

[2020-05-11 16:47] makk50 commented on #128
I have an h115i rgb platinum and I and willing to help with testing. I'm no developer but I can provide you any info yo ask me.
Thank ypu very much for your effort

[2020-05-12 06:13] wishie commented on #224
I was not getting this issue when connecting my H100i Pro directly to the motherboards USB2.0 header... but now that I am using an "NZXT Internal USB Hub" I get the error 'Unable to claim USB device'.

[2020-05-13 16:13] thekev commented on #148
There's some reverse-engineering work going on over here https://github.com/jonasmalacofilho/liquidctl/issues/76

[2020-05-15 20:30] simplesomeone opened #240 "corsairlink_commanderpro_set_fan_connection_mode() un-used"
This is more of a question than an actual issue. Why is the **corsairlink_commanderpro_set_fan_connection_mode** function in https://github.com/audiohacked/OpenCorsairLink/blob/testing/protocol/commanderpro/fan.c#L310 unused?

It seems important. In my specific scenario, we have fans that are coming out as set to "auto" and at 100% PWM, reach 4500RPMs. But the fans are rated for upwards of 12,000R

[2020-05-16 08:20] gardotd426 commented on #128
@makk50 is it working with the H115i? There are like 20 different versions of the H115i and it seems like some of them work but some don't (or might not), and with seemingly no alternatives I'm struggling with which to buy. So far I've seen this many versions of the H115i for sale:

iCUE H115i RGB Pro XT (this is the one I wanted to buy, but I have no idea if it's supported and can't tell from the

[2020-05-16 08:28] Legion2 commented on #128
The iCUE H115i RGB Pro XT is a very new device, released in 2020. It maybe only share the name with the older AIOs but works completely different on the driver side.

[2020-05-16 09:25] gardotd426 commented on #128
@Legion2 yeah, I figured as much, I'm not too terribly concerned with RGB control or fan speed since I can just plug fans into the motherboard or my controller, but I want to make sure I have pump control because I'm not risking my 3800X, y'know? I saw that liquidctl is about to merge Kraken X*3 Gen compatibility and already has a fork working with pump control and monitoring and all that good stu

[2020-05-16 10:12] makk50 commented on #128
Not yet, they are still working on the protocol as far as I know.

El sáb., 16 may. 2020 10:21, gardotd426 <notifications@github.com> escribió:

[2020-05-16 18:37] Abh15h3k opened #241 "(gcc 10.1.0) ld: multiple definition of 'scanlist' error"
OS: Artix Linux ( using openrc )

Im trying install opencorsairlink-git from the AUR using yay. but i get the following error.

cc main.o device.o logic/options.o logic/options_fan.o logic/options_led.o logic/options_pump.o logic/print.o logic/scan.o logic/settings/commanderpro.o logic/settings/hydro_asetek.o logic/settings/hydro_asetekpro.o logic/settings/hydro_coolit.o logic/settings/psu.o drive

[2020-05-16 18:56] Abh15h3k commented on #241
So after a while i realised that my gcc version is 10.1.0 and that is the reason opencorsaillink does  not build successfully.
I have confirmed this by downgrading to gcc 9.3.0 ( by downloading it from archive.archlinux.org ).
After which the package build properly

[2020-05-17 04:44] Abh15h3k commented on #241
Ok. So i have a workaround for people who might not want to downgrade their gcc to 9.3.0.

The linker errors out because scanlist ( from include/logic/scan.h ) is getting redefined in main.c and logic/scan.c

so i removed the "scanlist[10]" from logic/scan.h and declared them individually in main.c and scan.c (with different variable name, otherwise the linker will still report one redefinition er

[2020-05-18 22:53] simplesomeone commented on #240
We (my company) has our own fork of this repistory. I added a fan.profile.write_profile driver to run that function with the 0x02 "4-pin" setting. That resolved the issue.

For anyone wondering why your fans are not running at full power, it needs to be 4-pin, not AUTO!

[2020-05-18 22:53] simplesomeone commented on #240
I guess I'll leave this issue open in case anyone wants to submit an official fix. I unfortunately do not have time at this moment. Maybe in the future I will.

[2020-05-22 11:52] duxet commented on #241
It's easier to just add `CFLAGS += -fcommon` line to `Makefile`

[2020-05-22 20:47] Abh15h3k commented on #241
Oh cool.
But does that exactly do?

[2020-05-25 06:53] audiohacked commented on #241
Thanks for submitting a bug report. The fix should be in the testing branch.

P.S. I will warn you that I do not support AUR/PKGBUILDs.

[2020-05-25 06:53] #241 closed, assigned to nobody

[2020-05-26 09:07] blake-newman opened #242 "Device Support: iCUE H115i RGB Pro XT"
The [**iCUE H115i RGB Pro XT**](https://www.corsair.com/uk/en/Categories/Products/Liquid-Cooling/iCUE-RGB-PRO-XT-Coolers/p/CW-9060044-WW) is not detected as a supported device. This AOI is relatively new 2020 release.

**Device details:**

[code]

[2020-05-26 11:28] blake-newman commented on #242
This article seems to suggest that the pump is CoolIT.

On my initial testing i could get the device to be recognised

[code]

[code]

I'm unsure what to configure the properties to or how to discover the values they should be set to.

[2020-05-26 16:09] blake-newman commented on #242
I see you have already begun some work on this @audiohacked

https://github.com/jonasmalacofilho/liquidctl/issues/80#issuecomment-597967627

Is there anything I can do to support?

[2020-05-29 04:04] audiohacked commented on #223
@zeroepoch How do you know that the index is wrong?

[2020-05-29 04:22] #234 closed, assigned to nobody

[2020-05-29 04:23] #228 closed, assigned to nobody

[2020-05-29 04:26] #222 closed, assigned to nobody

[2020-05-29 04:28] audiohacked commented on #236
@klandrith I don't think anything can go wrong, but polling too fast might break OpenCorsairLink, the hardware might need a USB reset if anything breaks with the hardware.

[2020-05-29 04:29] #236 closed, assigned to nobody

[2020-05-29 04:34] audiohacked commented on #224
Right now OpenCorsairLink doesn't require constant claim to the Corsair devices, but if the software ever gets turned into a daemon, only then the error "Unable to claim USB device" becomes a problem. As it is, you can ignore most any libusb-based errors.

@jonasmalacofilho OpenCorsairLink originally used hidapi, but I felt that it was unnecessary to require two dependencies  (libusb and hidapi) w

[2020-05-29 04:34] #224 closed, assigned to nobody

[2020-05-29 04:36] #229 closed, assigned to nobody

[2020-05-29 07:20] makk50 commented on #146
Hi, I have tested your latest changes, and now i can read the cooling liquid temperature on my h115i platinum:
marco@pc-kubuntu:/datos/OpenCorsairLink-testing$ sudo ./OpenCorsairLink.elf --device 0
Dev=0, CorsairLink Device Found: H115i Platinum!

Vendor: Corsair
Product: H115i Platinum
Firmware: 1.1.15
Temperature 0: 30.18 C
Fan 0:  Unknown (STUB)
        Current/Max Speed 296/65535 RPM
Fan 1:  U

[2020-05-29 07:49] zeroepoch commented on #223
It didn't work until I changed the index and it also worked before the commit mentioned. The referenced commit changed the index (when it fixed the bug) so seems logical it's the wrong index since it was 0 before and it worked and it's 5 now and it doesn't work and changing it back to 0 works. I hope that explanation makes sense. I wouldn't have known it worked at all if it wasn't for the fact tha

[2020-06-01 05:21] wishie commented on #224
OpenCorsairLink stopped working around the time I got the 'Unable to claim USB device' errors. It was also around the time I connected my H100i Pro and Lighting Node Pro to a USB2.0 hub.

[2020-06-01 05:27] wishie commented on #224
Here you can see, it claims no devices detected.

[code]

But `lsusb` shows otherwise...
[code]

[2020-06-01 15:24] audiohacked commented on #224
I see that you are not executing OpenCorsairLink as root/sudo. That is the reason why OCL isn't detecting your devices. (Also, I don't support MacOS since libusb no longer works without hacking the system.)

[2020-06-01 22:08] wishie commented on #224
Are you saying there will be no macOS support going forward?

[2020-06-02 00:13] jonasmalacofilho commented on #224
@audiohacked the use of Hidapi I described was not for compliance with the standards, but for compatibility with macOS.

[2020-06-03 16:23] clmpo commented on #242
I also have the H115i RGB Pro XT and would like to help

@audiohacked do you have suggestions or hints on how we could help? I have the impression that the commands for this new CoolIt protocol are different from the one already implemented.

[2020-06-04 22:34] audiohacked commented on #223
@zeroepoch Do you have the fan(s) connected to the H80i or to the motherboard?

[2020-06-05 05:01] zeroepoch commented on #223
Yes, I have two fans attached to the pump through one fan connector. The second pump fan connector is unused.

[2020-06-05 05:05] zeroepoch commented on #223
Without the patch I get:
[code]

With the patch I get:
[code]

[2020-06-05 12:18] audiohacked commented on #223
@zeroepoch If you didn't notice, the RPM for the Pump is the exact same as Fan 0. What your patch is doing is telling the software to treat Fan 0 data as the Pump data. I expect the Pump Speed to be closer to 1000 RPM higher than the Fan Speed.

[2020-06-05 12:22] audiohacked commented on #242
So I had some time to figure out how to read the AIO status and it looks like its very similar to the H115i Platinum. Setup Wireshark under Windows, and Start there.

[2020-06-06 00:35] clmpo commented on #242
Good news, indeed the Platinum H115i profile seems to work for the XT
    {
        .vendor_id = 0x1b1c,
        .product_id = 0x0c21,
        .device_id = 0xFF,
        .name = "H115i RGB PRO XT",
        .read_endpoint = 0x01 | LIBUSB_ENDPOINT_IN,
        .write_endpoint = 0x01 | LIBUSB_ENDPOINT_OUT,
        .driver = &corsairlink_driver_platinum,
        .lowlevel = &corsairlink_lowlevel_platin

[2020-06-06 03:02] zeroepoch commented on #223
@audiohacked that's interesting! I didn't notice that. I guess it's always been like that then because that's the same behavior I get from using a much earlier commit. I see now why you suspected that 0 was also not right.

[2020-06-07 12:19] audiohacked opened #243 "Future of OpenCorsairLink"
On June 6th 2020, I decided to retire OpenCorsairLink as explained in the `README.md`. I also set the Project to Read-Only/Archived. This morning I realized I would like to collect/merge any and all branches for posterity and as a resource. I'd like to Archive this project by January 1st 2021 and move future development to [liquidctl](https://github.com/jonasmalacofilho/liquidctl). I believe pytho

[2020-06-07 19:16] clmpo commented on #243
First of all, let me thank you for working on this project and spending valuable time and energy developing this. This project has been quite useful as an example of what Corsair protocols look like and as a starting point for hacking on my own device.

I think that there is a place for both liquidctl and OpenCorsairLink. In my opinion, a resource lightweight (memory and cpu wise) tool that is eas

[2020-06-07 23:52] audiohacked commented on #243
Using Windows and Wireshark, I can sort of figure out a protocol and almost fully map status, fan, and LED packets after about 3 days. And at least for me, I can see the patterns in the Wireshark dumps, but I also need to have direct interaction with iCUE and the hardware. The hardest part is finding motivation to do it.

Actually implementing support doesn't take much time either; maybe about the

[2020-06-09 17:30] wispoffates commented on #243
I wanted to say thanks for all the hard work you've put it.  I just started my adventure into AIO coolers and picked a Corsair product specifically because this this tool existed.

 Sadly while this tool can read the values of the 115i platinum, liquidctl cannot yet (though some work looks to have been started).

Have fun on whatever it is you do next!

[2020-06-09 18:04] audiohacked commented on #243
@wispoffates I have a branch that should allow liquidctl to read reliably the 115i platinum.

[2020-06-10 22:18] wispoffates commented on #243
I was very glad to see that unfortunately it did not work for me.  It detects the device but liquidctl status sends a packet and hangs.  But no worries its a work in progress and I'm glad its even that far along.

Edit: Disregard... I'm an idiot and was using the branch on liquidctl and not your branch,   The branch on liquidctl doesn't work but yours looks a lot more complete.  Thanks for the hea

[2020-06-13 14:26] Solarer commented on #243
Sad news that this project is being closed. Thank you a lot for your work, controlling the fan speed works well but have not figured out the LEDs yet.
Will all features of OpenCorsairLink be migrated into liquidctl in the end or will the features of the tools not overlap?

[2020-06-13 14:52] audiohacked commented on #243
@Solarer I plan on migrating as much of OpenCorsairLink as I can into liquidctl

[2020-06-13 22:02] jonasmalacofilho commented on #243
Those who want to help port drivers to liquidctl may find [liquidctl#129 (comment)](https://github.com/jonasmalacofilho/liquidctl/issues/129#issuecomment-640258429) to be helpful as a first guide.  Please also feel free to open issues and ask questions.

---

@audiohacked and all others that have contributed to OpenCorsairLink, thank you!

Not only you have helped the open-source community in gene

[2020-06-14 20:36] Solarer commented on #225
I can confirm the observation of @kalinda99 and @BeardedDevCo. I have the Lightning Node Pro connected to my Commander Pro and the output is the same. Since development is moving to liquidctl it is likely that we will get the feature there.
If I have some spare time I might have a look at it. For now you can also try to use OpenRGB for the LEDs and OCL for fan speed.

[2020-06-18 11:31] JAicewizard opened #244 "libusb_control_transfer returns error."
While debuging OpenCorsairLink I noticed that within the `corsairlink_asetek_init` function the first `libusb_control_transfer` returns -9 (LIBUSB_ERROR_PIPE) while the second doesn't.
What startled me even more what that this is only dependent on the `request` and the `value`.

Since you commented out the error handling for this error, I hoped you would know why this might happen. I am using a h1

[2020-06-19 11:35] JAicewizard opened #245 "Rainbow is just colour shift without being able to set the colours"
All of this is on asetek pro driver:

The only think "rainbow" mode does is set the speed and mode to static/colour shift(they are actually the same and behaviour depends on the amount of colours set). Since they both set the mode to colour shift(/static) and both set the speed, the only diference is that colour shift also sets the colours.

So it would make sense to have either rainbow mode set t

[2020-07-22 02:01] cometta commented on #146
guys, anyone knows a way to off the rgb colors on linux?

[2020-08-27 21:33] max0x7ba opened #246 "[Obsidian 1000D Commander Pro] Setting fan modes have no effect."
**Describe the bug**
Setting fan modes with Obsidian 1000D Commander Pro have no effect.

**To Reproduce**
Let's view the fan status:
[code]

There are 5 fans connected to this fan controller and it displays RPM for each connected fan correctly.

But status "Mode: Auto/Disconnected" doesn't seem to be accurate at all.

Let's set fan modes:
[code]

It seems that setting fan modes with Obsidian 1000

[2020-09-22 05:32] ShnQdr commented on #146
Cool what shall I do?

[2020-09-22 13:59] TikiTDO commented on #146
The [liquidctl](https://github.com/jonasmalacofilho/liquidctl) project now supports this device, so this issue can be closed.

[2020-09-22 18:52] #146 closed

[2020-11-24 08:41] Raphty commented on #246
I have the same issue
on Elementary OS 5.1 (Based on Ubuntu 18.04 LTS)

[2021-06-11 16:20] max0x7ba commented on #246
https://www.kernel.org/doc/html/latest/hwmon/corsair-cpro.html kernel module now supports Obsidian 1000D Commander Pro out of the box:

[code]

[2021-06-11 16:22] #246 closed, assigned to nobody